div.div_edit_note {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 3rem;
}

#form_edit_note {
  align-self: center;
}

#form_edit_note fieldset {
  margin-top: 1rem;
}

label {
  padding-bottom: 1rem;
  font-weight: 600;
  color: var(--colorPrincipal);
}

.form_caja_edit {
  display: flex;
  align-items: center;
}
#form_edit_note input {
  border: 1px solid grey;
  border-radius: 4%;
  box-shadow: 1px 1px 3px var(--colorH2);
}

textarea {
  height: 10rem;
  border-radius: 5%;
  padding: 0.5rem;
  box-shadow: 1px 1px 3px var(--colorPrincipal);
}

button.edit_note_button {
  padding: 5px 20px;
  align-self: center;
  color: var(--colorPrincipal);
  font-weight: 700;
  background: var(--background);
  border: 1px solid var(--colorPrincipal);
  border-radius: 5%;
  box-shadow: 1px 1px 3px var(--colorSecundario);
  margin-top: 1rem;
}

#dark .div_edit_note {
  background: rgb(0, 0, 37);
  color: white;
}

#dark button.edit_note_button {
  background: var(--backgroundDark);
}
#dark label {
  color: var(--colorSecundario);
}

#dark textarea,
#dark input {
  box-shadow: 1px 1px 3px var(--colorSecundario);
}
