main {
  font-size: 1rem;
  font-weight: 500;
}
main section .user {
  font-weight: bold;
}
.name-user {
  text-transform: capitalize;
  padding: 0.5;
}

h2 {
  padding: 1rem;
}
p {
  padding: 0.5rem 1rem 0.01rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}
a:hover {
  color: var(--colorPrincipal);
}
