section.homepage {
  font-size: 1.2rem;
  font-weight: 500;
}

.name-user {
  text-transform: capitalize;
  padding: 1rem;
}

section.homepage h2 {
  font-size: 1.5rem;
  padding: 1rem;
}
p {
  padding: 0.5rem 1rem 0.01rem;
}
#root main#light section.homepage p a:link,
#root main#light section.homepage p a:visited {
  text-decoration: none;
  color: black;
}
#light section.homepage a:hover {
  text-decoration: none;
  color: var(--colorPrincipal);
  font-weight: bold;
}

#dark section.homepage p a:link,
#dark section.homepage p a:visited {
  text-decoration: none;
  color: white;
}
#dark section.homepage p a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

figure.azahara {
  display: flex;
  justify-content: flex-end;
}
figure.azahara img {
  width: 9rem;
}

@media (min-width: 1000px) {
  section.homepage {
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem;
  }

  section.homepage h2 {
    font-size: 3rem;
  }
  figure.azahara img {
    width: 18rem;
  }
}
