section.userpage h2 {
  padding: 0.5rem;
  text-transform: capitalize;
}

section .categorias {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.categorias ul {
  justify-content: center;
}

section.categorias button {
  border: none;
  background: transparent;
  color: var(--colorPrincipal);
  font-weight: 700;
  font-size: large;
  align-self: center;
  width: 1.75rem;
  height: 1.75rem;
  text-shadow: 1px 1px 3px var(--colorH2);
  cursor: pointer;
}

section.userpage section.categorias button.anadirCategoria {
  width: 9rem;
  height: 3rem;
  overflow: hidden;
  color: var(--colorPrincipal);
  font-size: small;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  text-transform: capitalize;
}

/* section.userpage section.categorias button.anadirCategoria {
  width: 9rem;
  height: 3rem;
  overflow: hidden;
  color: var(--colorSecundario);
  border: 1px solid var(--colorPrincipal);

  font-size: small;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: var(--background);
  text-transform: capitalize;
  box-shadow: 1px 1px 3px var(--colorH2);
} */
