section.userpage h2 {
  padding: 0.5rem;
  text-transform: capitalize;
}

section .categorias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
section .categorias h3 {
  justify-self: flex-start;
}

.categorias ul {
  justify-content: center;
}

section.categorias button {
  border: none;
  background: transparent;
  color: var(--colorPrincipal);
  font-weight: 700;
  font-size: large;
  align-self: center;
  width: 1.75rem;
  height: 1.75rem;
  text-shadow: 1px 1px 3px var(--colorH2);
  cursor: pointer;
}

section.userpage section.categorias button.anadirCategoria {
  width: 9rem;
  height: 3rem;
  overflow: hidden;
  color: var(--colorPrincipal);
  font-size: small;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
}

section div.modal button {
  width: 8rem;
  height: 4rem;
}

#dark button {
  color: var(--colorSecundario);
}
@media (min-width: 1000px) {
  main {
    font-size: 1.2rem;
  }
  section.categorias {
    flex-direction: column;
  }
  section div.modal button {
    width: 20rem;
    height: 3rem;
  }
  section.categorias button {
    font-weight: 700;
    font-size: 2rem;
  }
}
