article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
article p {
  padding-bottom: 1rem;
}

.noteimage img {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  background-color: rgb(255, 252, 252);
  box-shadow: 2px 2px 2px 2px var(--colorPrincipal);
  padding: 1rem;
}
article section {
  padding-top: 1rem;
}

article section.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
article button {
  border: none;
  background: transparent;
  color: var(--colorPrincipal);
  font-weight: 700;
  font-size: large;
  align-self: center;
  width: 1.75rem;
  height: 1.75rem;
  text-shadow: 1px 1px 3px var(--colorH2);
  cursor: pointer;
}



#dark article button {
  border-radius: 5%;
  color: var(--colorSecundario);
  font-weight: 700;
  font-size: large;
  align-self: center;
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
}
