.section_register {
  border: 1px solid var(--colorPrincipal);
  border-radius: 10px;
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  box-shadow: 1px 1px 3px var(--colorSecundario);
}

fieldset {
  width: 15rem;
  border-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}
.register_button {
  margin-left: 4rem;
  margin-top: 1rem;
  padding: 5px 20px;
  align-self: center;
  justify-content: center;
  align-items: center;
  background: var(--background);
  border: 1px solid var(--colorPrincipal);
  box-shadow: 1px 1px 3px var(--colorSecundario);
  color: var(--colorPrincipal);
  font-weight: 700;
}
h2 {
  padding-left: 0;
  font-size: 2rem;
}

#dark form button .register_button {
  background: var(--backgroundDark);
}

@media (min-width: 1000px) {
  .section_register {
    border: 1px solid var(--colorPrincipal);
    width: 30vw;
    align-items: center;
    font-size: 1.2rem;
  }
  .form_caja input {
    width: 20vw;
    height: 4vh;
  }
}
