.div_edit_user {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, transparent, #48e);
  text-align: center;
  height: 80vh;
  align-items: center;
  justify-content: center;
}
.section_edit_user {
  border: 1px solid rgb(129, 168, 227);
  border-radius: 8px;
  box-shadow: 0px 0px 8px gray;
  min-width: 330px;
  max-width: 375px;
  min-height: 310px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: bold;
  position: relative;
}

#form_edit_user {
  align-self: center;
}

#form_edit_user fieldset {
  padding: 5px;
}

.h1_edit_user {
  text-align: center;
}

.form_caja_edit {
  display: flex;
  border: none;
  align-items: center;
}

.form_caja_edit input {
  flex: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 150px;
}

.form_caja_edit input:focus {
  outline: none;
}

.edit_user_button {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 3px rgba(0, 0, 0, 1);
  position: relative;
  padding: 3px 5px;
  border: none;
  border-bottom: 1px solid;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0);
  width: 70px;
  align-self: flex-end;
  margin-top: 8px;
  cursor: pointer;
}
.edit_user_button:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #2348dd;
  height: 4px;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.edit_user_button:hover:before,
.edit_user_button:focus:before,
.edit_user_button:active:before {
  left: 0;
}

@media (min-width: 760px) and (min-height: 1000px) {
  .section_edit_user {
    font-size: 25px;
    min-width: 475px;
    max-width: 800px;
    min-height: 450px;
  }
  .edit_user_button {
    font-size: 20px;
    min-width: 150px;
    margin-top: 10px;
  }
  #form_edit_user fieldset {
    padding: 6px;
  }

  .form_caja_edit input {
    padding: 6px;
    width: 230px;
  }
}
