.section_userPage {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, transparent, #48e);
  text-align: center;
  height: 83vh;
  align-items: center;
  justify-content: space-around;
}

.div #div_userPage{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 3rem;
} 
.link_userPage {
  text-decoration: none;
}

.link_userPage:hover {
  color: rgb(0, 0, 0);
}
.link_userPage:visited {
  color: rgb(0, 0, 0);
}

.button_userPage {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 3px rgba(0, 0, 0, 1);
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  padding: 3px 5px;
  border: none;
  border-bottom: 1px solid;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0);
  max-width: 150px;
  align-self: center;
}
.button_userPage:before {
  content: "";
  position: absolute;
  margin-top: 2rem;
  z-index: -1; 
  left: 100%;
  right: 0;
  bottom: 0;
  background: #2348dd;
  height: 2rem;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.button_userPage:hover:before,
.button_userPage:focus:before,
.button_userPage:active:before {
  left: 0;
}

.h1_userPage {
  color: #2f68da;
  margin-top: 2rem;
}

.h2_userPage {
  color: #000;
  font-size: 1em;
  margin-top: 2rem;
}

#dark .section_userPage{
  background: rgb(0, 0, 37);
  color: white;
}

#dark .button_userPage{
  align-self: center;
  background-color: white;
  text-decoration-color: black;
}

 @media (min-width: 760px) and (max-width: 1000px) and (min-height: 1000px) {
  .div_userPage {
    font-size: 25px;
    max-width: 470px;
    min-height: 450px;
  }
  .button_userPage {
    font-size: 15px;
    min-width: 200px;
  } 
}

@media (min-width: 1000px) and (max-width: 1300px) and (min-height: 600px) and (max-height: 800px) {
  .div_userPage {
    font-size: 20px;
    max-width: 390px;
    min-height: 340px;
  }
  .button_userPage {
    font-size: 15px;
    min-width: 200px;
  }
}

@media (min-width: 1400px) {
  .div_userPage {
    font-size: 20px;
    max-width: 390px;
    min-height: 340px;
  }
  .button_userPage {
    font-size: 15px;
    min-width: 200px;
  }
}
