.section_userPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding-top: 2rem;
}

.div #div_userPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.link_userPage {
  text-decoration: none;
}

.link_userPage:hover {
  color: var(--colorPrincipal);
}
.link_userPage:visited {
  color: var(--colorPrincipal);
}

.button_userPage {
  padding: 5px 20px;
  align-self: center;
  color: var(--colorPrincipal);
  font-weight: 700;
  background: var(--background);
  border: 1px solid var(--colorPrincipal);
  border-radius: 5%;
  box-shadow: 1px 1px 3px var(--colorSecundario);
  margin-top: 2rem;
}
.button_userPage:before {
  content: "";
  position: absolute;
  margin-top: 2rem;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  height: 2rem;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.button_userPage:hover:before,
.button_userPage:focus:before,
.button_userPage:active:before {
  left: 0;
}

.h1_userPage {
  margin-top: 2rem;
  text-transform: capitalize;
}

.h2_userPage {
  font-size: 1.1rem;
  margin-top: 2rem;
}
p {
  color: var(--colorPrincipal);
}

#dark p {
  color: white;
}

#dark div .button_userPage {
  background: var(--backgroundDark);
}

#dark .link_userPage:hover {
  color: var(--colorSecundario);
}
#dark .link_userPage:visited {
  color: var(--colorSecundario);
}

@media (min-width: 1000px) {
  #root main .section_userPage {
    font-size: 2rem;
  }
  #root h3 {
    font-size: 2rem;
  }
  #root button a {
    font-size: 1.1rem;
  }
}
