div.div_edit_user {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
}

#form_edit_user {
  align-self: center;
  align-items: center;
}

#form_edit_user fieldset {
  padding: 0.5rem;
  margin-left: 1.3rem;
}

.h1_edit_user {
  text-align: center;
  padding-bottom: 2rem;
}

.form_caja_edit {
  display: flex;
  border: none;
  align-items: center;
}

.form_caja_edit input {
  flex: 1;
  padding: 0.3rem;
  text-transform: capitalize;
  border: 1px solid var(--colorPrincipal);
  border-radius: 5%;
  box-shadow: 1px 1px 3px var(--colorPrincipal);
  width: 10rem;
}

.form_caja_edit input:focus {
  outline: none;
}

.edit_user_button {
  padding: 5px 20px;
  align-self: center;
  color: var(--colorPrincipal);
  font-weight: 700;
  background: var(--background);
  border: 1px solid var(--colorPrincipal);
  border-radius: 5%;
  box-shadow: 1px 1px 3px var(--colorSecundario);
  margin-top: 2rem;
}
.edit_user_button:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #2348dd;
  height: 2rem;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.edit_user_button:hover:before,
.edit_user_button:focus:before,
.edit_user_button:active:before {
  left: 0;
}

#dark .div_edit_user {
  background: rgb(0, 0, 37);
  color: white;
}

#dark .edit_user_button {
  background: var(--backgroundDark);
}

@media (min-width: 1000px) {
  form #form_edit_user {
    width: 30vw;
    align-items: center;
    font-size: 2rem;
  }
  #form_edit_user input {
    width: 20vw;
    height: 4vh;
    font-size: 1.2rem;
  }
  #root button {
    font-size: 1.1rem;
  }
}
