@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Toda la página tiene una tipografía sin serifa. */
body #root {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-rows: 4rem 1fr 2rem;
  --button: linear-gradient(
    0deg,
    var(--colorPrincipal) 0%,
    var(--colorSecundario) 100%
  );
  --colorSecundario: #efb810;
  --colorPrincipal: #062863;
  --colorH2: #607ec9;
  --background: linear-gradient(var(--colorPrincipal), white);
  --backBody: linear-gradient(var(--colorPrincipal), white);
  cursor: pointer;
  width: 100vw;
  min-height: 100vh;
}

ul {
  list-style: none;
}

h2 {
  color: var(--colorPrincipal);
}
body #root main#dark h2 {
  color: var(--colorSecundario);
}
h3 {
  color: var(--colorH2);
}

#root > main {
  grid-row: 2/3;
}

footer.azahara {
  grid-row: 3/4;
}

/* marc => */

/* #light {
  background: white;
  font-family: sans-serif;
  transition: 0.3s ease all;
} */

/* 
#light .main {
  background: white;
} */
body #root main#dark {
  background: var(--colorPrincipal);
  color: white;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.switch div.react-switch-bg {
  height: 0.2rem;
}

/* #light .label {
  color: #000000;
} */
#dark .label {
  color: #ffffff;
}

#button-theme {
  background-color: transparent;
  font-size: 1.2rem;
  border: none;
}
/*<= marc  */
