* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body #root {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-rows: 4rem 1fr 2rem;
  --button: linear-gradient(
    0deg,
    var(--colorPrincipal) 0%,
    var(--colorSecundario) 100%
  );
  --colorSecundario: #efb810;
  --colorPrincipal: #062863;
  --colorPrincipalDark: rgb(0, 0, 37);
  --colorH2: #062863c5;
  --colorH2Dark: #103474c5;
  --background: linear-gradient(var(--colorPrincipal), white);
  --backgroundDark: linear-gradient(
    var(--colorPrincipalDark),
    var(--colorPrincipalDark) 50%,
    var(--colorH2Dark) 75%,
    var(--colorH2Dark) 75%
  );
  --backBody: linear-gradient(white 30%, var(--colorH2) 100%);
  cursor: pointer;
  width: 100vw;
  min-height: 100vh;
  background: var(--backBody);
}

ul {
  list-style: none;
}

h2 {
  color: var(--colorPrincipal);
}
body #root main#dark h2 {
  color: var(--colorSecundario);
}
h3 {
  color: var(--colorH2);
}

#root > main {
  grid-row: 2/3;
}

main ul.menu-principal {
  width: 100vw;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  padding: 0.5rem;
  border-bottom: #062863 1px solid;
  background-color: #efb810;
}
main ul.menu-principal li {
  font-size: 0.7rem;
  font-weight: bold;
}
main ul.menu-principal :last-child {
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--colorPrincipal);
}

main ul.menu-principal li a:link,
main ul.menu-principal li a:visited {
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  padding-right: 1rem;
  color: var(--colorPrincipal);
}

main ul.menu-principal {
  width: 100vw;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  padding: 0.5rem;
  border-bottom: #062863 1px solid;
  background-color: #efb810;
}
main ul.menu-principal li {
  font-size: 0.7rem;
  font-weight: bold;
}
main ul.menu-principal :last-child {
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--colorPrincipal);
}

main ul.menu-principal li a:link,
main ul.menu-principal li a:visited {
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  padding-right: 1rem;
  color: var(--colorPrincipal);
}

footer.azahara {
  grid-row: 3/4;
}

body #root main#dark {
  background: var(--colorPrincipal);
  color: white;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.switch div.react-switch-bg {
  height: 0.2rem;
}

body #root main#dark {
  background: rgb(0, 0, 37);
  color: white;
}

#dark .label {
  color: #ffffff;
}

main#dark h3 {
  color: white;
}
