<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Indie+Flower&family=Montserrat:ital,wght@0,300;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}
/* Toda la página tiene una tipografía sin serifa. */
body {
  font-family: "Montserrat", sans-serif;
  display: grid;
  grid-template-rows: 3.5rem 1fr 2rem;
  --button: linear-gradient(0deg, #be3455 0%, #b96478 100%);
  --colorSecundario: #596676ff;
  --colorPrincipal: #be3455;
  --background: linear-gradient(var(--colorPrincipal), white);
}

header {
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: linear-gradient(
    to right,
    var(--colorPrincipal),
    var(--colorPrincipal) 50%,
    #eee 75%,
    #eee 75%
  );
  color: white;
  font-size: 0.6rem;
}

header img {
  height: 3.5rem;
  transition: transform 1s;
}
header img:hover {
  transform: scale rotate(90deg);
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: self-end;
}
header section {
  display: flex;
  flex-direction: row;
}
header button {
  background: none;
  border: none;
  font-size: 1rem;
  padding-left: 0.4rem;
}
header a:link,
header a:visited {
  text-decoration: none;
  color: var(--colorPrincipal);
  font-size: 0.7rem;
  font-weight: bold;
}
ul {
  list-style: none;
}

main {
  flex-grow: 1;
}
h2 {
  color: var(--colorPrincipal);
}
h3 {
  color: var(--colorSecundario);
}
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  main {
    padding: 2rem;
    flex-grow: 1;
  }
  
  main.dark {
    color: white;
    background-color: black;
  }
>>>>>>> fd9328ba9b63052f5a147806419c7b0e009e3a9e
