footer {
  display: flex;
  text-align: left;
  align-items: center;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--colorSecundario);
  background: linear-gradient(
    to right,
    var(--colorPrincipal),
    var(--colorPrincipal) 50%,
    #eee 75%,
    #eee 75%
  );
}

#dark footer {
  text-decoration: none;
  color: white;
}
