header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    to right,
    var(--colorPrincipal),
    var(--colorPrincipal) 50%,
    #eee 75%,
    #eee 75%
  );

  color: var(--colorSecundario);
  font-size: 1.1rem;
}

header#dark {
  background: linear-gradient(
    to right,
    rgb(0, 0, 37),
    rgb(0, 0, 37) 50%,
    var(--colorPrincipal) 75%,
    var(--colorPrincipal) 75%
  );
  color: var(--colorSecundario);
}

header section.header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header section.header img {
  height: 3rem;
}

header section.header h1 {
  text-shadow: 1px 1px 1px var(--colorPrincipal);
}

header a:link,
header a:visited {
  text-decoration: none;
  color: var(--colorSecundario);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding-right: 1rem;
  cursor: pointer;
}

header ul.menu-principal {
  width: 100vw;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
header ul.menu-principal li {
  font-size: 0.7rem;
  font-weight: bold;
}
header ul.menu-principal :last-child {
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--colorPrincipal);
}

header section.menu ul.menu-principal li a:link,
header section.menu ul.menu-principal li a:visited {
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  padding-right: 1rem;
  color: var(--colorSecundario);
}

section.user-name a {
  text-transform: capitalize;
}

@media (min-width: 1000px) {
  header {
    font-size: 1.2rem;
  }
  header section.header img {
    height: 4rem;
  }
  header a:link,
  header a:visited {
    font-size: 1.5rem;
    padding-right: 2rem;
  }
}
