.modal-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: RGBA(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-fg {
  display: flex;
  flex-direction: column;
  background: var(--backBody);
  color: var(--colorPrincipal);
  justify-content: center;
  padding: 20px;
  border-radius: 4%;
}

.modal-fg section#nueva-Categoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-fg section h2 {
  text-transform: none;
}
.modal-fg section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-fg section form fieldset input#category {
  margin-left: 0;
}
