div .div_newNote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
}

.div_newNote {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#form_note {
  align-self: center;
}

#form_note fieldset {
  padding: 1rem;
}

.form_caja_note input {
  flex: 1;
  padding: 5px;
  border: 1px solid var(--colorPrincipal);
  border-radius: 5px;
  width: 200px;
  margin-top: 3px;
}

.form_caja_note input:focus {
  outline: none;
}

textarea.form-control {
  min-height: calc(9em + (0.75rem + 2px));
  border-radius: 5%;
  border: 1px solid var(--colorPrincipal);
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.note_button {
  padding: 5px 20px;
  align-self: center;
  color: var(--colorPrincipal);
  font-weight: 700;
  background: var(--background);
  border: 1px solid var(--colorPrincipal);
  border-radius: 5%;
  box-shadow: 1px 1px 3px var(--colorSecundario);
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

#dark button.note_button {
  background: var(--backgroundDark);
}

/* .note_button:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #2348dd;
  height: 4px;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.note_button:hover:before,
.note_button:focus:before,
.note_button:active:before {
  left: 0;
}

@media (min-width: 760px) and (min-height: 1000px) {
  .div_newNote_scroll {
    font-size: 25px;
    min-width: 475px;
    max-width: 800px;
    max-height: 1000px;
  }
  .note_button {
    font-size: 20px;
    min-width: 150px;
    margin-top: 10px;
  } */

/*   .form_caja_note input {
    padding: 6px;
    width: 360px;
    margin-left: 10px;
  }
  textarea.form-control {
    min-width: calc(15em + (8rem + 4px));
    border-radius: 8px;
  }
} */
