/* #dark {
  background: var(--colorPrincipal);
  color: #fff;
  transition: 0.3s ease all;
} */

.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

#dark section {
  background: #842aa4;
}
#dark section label,
#dark section input {
  background: #fff;
}

#button-theme {
  background-color: transparent;
  font-size: 1.2rem;
  border: none;
}
