#light {
  background: #f3ebf6;
  font-family: sans-serif;
  transition: 0.3s ease all;
}

#dark {
  background: #46045e;
}

#light .main {
  background: #f3ebf6;
}
#dark .main {
  background: #46045e;
}

.switch {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-items: center;
}

#light .label {
  color: #000000;
}
#dark .label {
  color: #ffffff;
}
